
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/ParallaxSheet.css" rel="stylesheet" />

</head>
<body>

    <img src="~/Pictures/M.png" alt="Menu" style="position: fixed;"/>
    <section class="module parallax parallax-1">
        <div class="container">
            <h1>Welcome!</h1>
        </div>
    </section>

    <section class="module content">
        <div class="container">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
    </section>

    <section class="module parallax parallax-2">
        <div class="container">
            <h1>Rise</h1>
        </div>
    </section>

    <section class="module content">
        <div class="container">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
    </section>

    <section class="module parallax parallax-3">
        <div class="container">
            <h1>Calm</h1>
        </div>
    </section>

    <section class="module content">
        <div class="container">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
    </section>
    <section class="module parallax parallax-4">
        <div class="container">
            <h1>
                This is me!
            </h1>
        </div>
    </section>
    <section class="module content">
        <div class="container"></div>
    </section>
</body>
</html>
